body {
  background-color: black;
  
}
.grid {
  display: grid;
}

/* top coulumns 19 / rows 10*/
.grid.top {
  width: 90%;
  grid-template-columns: repeat(19, 40px[line1]);
  grid-template-rows: repeat(8, 40px[row1]);
  grid-template-areas:
    ". ba . . . . . . . . . . . . . . . . br"
    "aa H bb . . . . . . . . . . bm bn bo bp bq He"
    "ab Li Be . . . . . . . . . . B C N O F Ne"
    "ac Na Mg bc bd be bf bg bh bi bj bk bl Al Si P S Cl Ar"
    "ad K Ca Sc Ti V Cr Mn Fe Co Ni Cu Zn Ga Ge As Se Br Kr"
    "ae Rb Sr Y Zr Nb Mo Tc Ru Rh Pd Ag Cd In Sn Sb Te I Xe"
    "af Cs Ba star Hf Ta W Re Os Ir Pt Au Hg Tl Pb Bi Po At Rn"
    "ag Fr Ra star2 Rf Db Sg Bh Hs Mt Ds Rg Cn Nh Fl Mc Lv Ts Og";
}
.grid.top > div {
  width: 40px;
  height: 40px;
}
h6 {
  
  color: #fff;
}
.grid.bottom {
  width: 90%;
  gap: 10px;
  grid-template-columns: repeat(17, 40px[line2]);
  grid-template-rows: repeat(2, 40px[row1]);
  grid-template-areas: 
  "text text La Ce Pr Nd Pm Sm Eu Gd Tb Dy Ho Er Tm Yb Lu"
  "text2 text2 Ac Th Pa U Np Pu Am Cm Bk Cf Es Fm Md No Lr";
}
/* text-position*/
.js-c_as-e{
  justify-self: center;
  align-self: end;
}
.js-c_as-c{
  justify-self: center;
  align-self: center;
}
.jc-i{
  justify-items: center;
}

/*gaps*/

.gap-1{
  gap: 10px;
}
.gap-2{
  gap: 60px;
}
/* bg-color */
.bg-blue {
  background-color: rgb(76, 76, 219);
}
.bg-plr {
  background-color: palevioletred;
}
.bg-goldenr {
  background-color: goldenrod;
}
.bg-gray {
  background-color: gray;
}
.bg-red {
  background-color: rgb(212, 42, 42);
}
.bg-green {
  background-color: rgb(9, 134, 40);
}
.bg-orange {
  background-color: orangered;
}
.bg-olive {
  background-color: rgb(90, 90, 8);
}
.bg-brown {
  background-color: brown;
}
.bg-purple {
  background-color: purple;
}
.bg-darkblue {
  background-color: darkslateblue;
}
.bg-yellow {
  background-color: yellow;
}


.star {
  grid-area: star;
}
.star2 {
  grid-area: star2;
}
.text{
  grid-area: text;
}
.text2{
  grid-area: text2;
}
/*number column*/
.aa {
  grid-area: aa;
}
.ab {
  grid-area: ab;
}
.ac {
  grid-area: ac;
}
.ad {
  grid-area: ad;
}
.ae {
  grid-area: ae;
}
.af {
  grid-area: af;
}
.ag {
  grid-area: ag;
}
/*number row*/
.ba {
  grid-area: ba;
}
.bb {
  grid-area: bb;
}
.bc {
  grid-area: bc;
}
.bd {
  grid-area: bd;
}
.be {
  grid-area: be;
}
.bf {
  grid-area: bf;
}
.bg {
  grid-area: bg;
}
.bh {
  grid-area: bh;
}
.bi {
  grid-area: bi;
}
.bj {
  grid-area: bj;
}
.bk {
  grid-area: bk;
}
.bl {
  grid-area: bl;
}
.bm {
  grid-area: bm;
}
.bn {
  grid-area: bn;
}
.bo {
  grid-area: bo;
}
.bp {
  grid-area: bp;
}
.bq {
  grid-area: bq;
}
.br {
  grid-area: br;
}
/*periodics top*/
.H {
  grid-area: H;
}
.He {
  grid-area: He;
}
.Li {
  grid-area: Li;
}
.Be {
  grid-area: Be;
}
.B {
  grid-area: B;
}
.C {
  grid-area: C;
}
.N {
  grid-area: N;
}
.O {
  grid-area: O;
}
.F {
  grid-area: F;
}
.Ne {
  grid-area: Ne;
}
.Na {
  grid-area: Na;
}
.Mg {
  grid-area: Mg;
}
.Al {
  grid-area: Al;
}
.Si {
  grid-area: Si;
}
.P {
  grid-area: P;
}
.S {
  grid-area: S;
}
.Cl {
  grid-area: Cl;
}
.Ar {
  grid-area: Ar;
}
.K {
  grid-area: K;
}
.Ca {
  grid-area: Ca;
}
.Sc {
  grid-area: Sc;
}
.Ti {
  grid-area: Ti;
}
.V {
  grid-area: V;
}
.Cr {
  grid-area: Cr;
}
.Mn {
  grid-area: Mn;
}
.Fe {
  grid-area: Fe;
}
.Co {
  grid-area: Co;
}

.Ni {
  grid-area: Ni;
}
.Cu {
  grid-area: Cu;
}
.Zn {
  grid-area: Zn;
}
.Ga {
  grid-area: Ga;
}
.Ge {
  grid-area: Ge;
}
.As {
  grid-area: As;
}
.Se {
  grid-area: Se;
}
.Br {
  grid-area: Br;
}
.Kr {
  grid-area: Kr;
}
.Rb {
  grid-area: Rb;
}
.Sr {
  grid-area: Sr;
}
.Y {
  grid-area: Y;
}
.Zr {
  grid-area: Zr;
}
.Nb {
  grid-area: Nb;
}
.Mo {
  grid-area: Mo;
}
.Tc {
  grid-area: Tc;
}
.Ru {
  grid-area: Ru;
}
.Rh {
  grid-area: Rh;
}
.Pd {
  grid-area: Pd;
}
.Ag {
  grid-area: Ag;
}
.Cd {
  grid-area: Cd;
}
.In {
  grid-area: In;
}
.Sn {
  grid-area: Sn;
}
.Sb {
  grid-area: Sb;
}
.Te {
  grid-area: Te;
}
.I {
  grid-area: I;
}
.Xe {
  grid-area: Xe;
}
.Cs {
  grid-area: Cs;
}
.Ba {
  grid-area: Ba;
}
.Hf {
  grid-area: Hf;
}
.Ta {
  grid-area: Ta;
}
.W {
  grid-area: W;
}
.Re {
  grid-area: Re;
}
.Os {
  grid-area: Os;
}
.Ir {
  grid-area: Ir;
}
.Pt {
  grid-area: Pt;
}
.Au {
  grid-area: Au;
}
.Hg {
  grid-area: Hg;
}
.Tl {
  grid-area: Tl;
}
.Pb {
  grid-area: Pb;
}
.Bi {
  grid-area: Bi;
}
.Po {
  grid-area: Po;
}
.At {
  grid-area: At;
}
.Rn {
  grid-area: Rn;
}
.Fr {
  grid-area: Fr;
}
.Ra {
  grid-area: Ra;
}
.Rf {
  grid-area: Rf;
}
.Db {
  grid-area: Db;
}
.Sg {
  grid-area: Sg;
}
.Bh {
  grid-area: Bh;
}
.Hs {
  grid-area: Hs;
}
.Mt {
  grid-area: Mt;
}
.Ds {
  grid-area: Ds;
}
.Rg {
  grid-area: Rg;
}
.Cn {
  grid-area: Cn;
}
.Nh {
  grid-area: Nh;
}
.Fl {
  grid-area: Fl;
}
.Mc {
  grid-area: Mc;
}
.Lv {
  grid-area: Lv;
}
.Ts {
  grid-area: Ts;
}
.Og {
  grid-area: Og;
}
/*periodic bottom*/
.La {
  grid-area: La;
}
.Ce {
  grid-area: Ce;
}
.Pr {
  grid-area: Pr;
}
.Nd {
  grid-area: Nd;
}
.Pm {
  grid-area: Pm;
}
.Sm {
  grid-area: Sm;
}
.Eu {
  grid-area: Eu;
}
.Gd {
  grid-area: Gd;
}
.Tb {
  grid-area: Tb;
}
.Dy {
  grid-area: Dy;
}
.Ho {
  grid-area: Ho;
}
.Er {
  grid-area: Er;
}
.Tm {
  grid-area: Tm;
}
.Yb {
  grid-area: Yb;
}
.Lu {
  grid-area: Lu;
}

.Ac{
  grid-area: Ac;
}
.Th{
  grid-area: Th;
}
.Pa{
  grid-area: Pa;
}
.U{
  grid-area: U;
}
.Np{
  grid-area: Np;
}
.Pu{
  grid-area: Pu;
}
.Am{
  grid-area: Am;
}
.Cm{
  grid-area: Cm;
}
.Bk{
  grid-area: Bk;
}
.Cf{
  grid-area: Cf;
}
.Es{
  grid-area: Es;
}
.Fm{
  grid-area: Fm;
}
.Md{
  grid-area: Md;
}
.No{
  grid-area: No;
}
.Lr{
  grid-area: Lr;
}


/*
La
Ce
Pr
Nd
Pm
Sm
Eu
Gd
Tb
Dy
Ho
Er
Tm
Yb
Lu